@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
footer
{
    background-color: #212529;
    color: #fff;
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
footer p ,
footer a{
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}
footer a{
    font-size: 30px;
}
footer .social a:hover{
    color: #ffd500;
}