@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.navbar{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #212529;
    border: 1px solid transparent;
    padding: 5px 20px;
}
.links .link:hover{
    background-color: #fff;
    color: #ffd500;
    padding: 5px 20px;
    border: 1px solid #ffd500;
    border-radius: 100px;
}
.links
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.DownloadCv
{
    background-color: #ffd500;
    color: #fff;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid transparent;
}
.DownloadCv:hover
{
    background-color: #fff !important;
    padding: 10px 20px;
    border-radius: 100px;
    color: #ffd500 !important;
    border: 1px solid #ffd500 !important;
}   